# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Jupyter
.ipynb_checkpoints/

# =========================
# Virtual environments
# =========================
venv/
env/
.venv/

# =========================
# Data (MUY IMPORTANTE)
# =========================

# Raw QCT data
data/raw/
validacion/
scripts_v_dis/
O3/
rr*/

# Generated distributions
scripts_et_dis/et_distributions_exchange/
scripts_et_dis/et_distributions_exchange_smoothed/
scripts_et_dis/et_distributions*/
scripts_et_dis/*nn_et_distribution_exchange_smoothed/
# Processed datasets grandes
data/processed/
*.csv

# =========================
# Models (pesan mucho)
# =========================
models/
*.pt
*.pth

# =========================
# Figures (opcional)
# =========================
figures/
*.png
*.pdf

# =========================
# Logs / outputs
# =========================
*.log
*.out

# =========================
# System files
# =========================
.DS_Store
Thumbs.db

.ipynb
